@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, * ::before, *::after{
    font-family: 'Roboto', sans-serif;
}

:root{
    --light-gray: #F5F5F5;
    --white: #FAFAFA;
    --blue: #4D65CB;

}

html {
    height: 100%;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%

}

.NavBar {
    background-color: black;
    height: 4em;


}

main{
    margin: 0 auto;
    background-color: var(--white);
    box-sizing: border-box;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(imgs/dronepic.jpg);
}


#cCon{
    text-align: center;
    width: 800px;
    max-width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px  2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
}

.styleForcCon{
    top: 50%;
    margin-top: -150px;
}

.styleForcCon2{
    top: 30%;
    margin-top: -150px;
}





.btn-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
 .btn {
    background-color: var(--light-gray);
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 5px 10px;
    outline:none;
    color:var(--blue);
    cursor: pointer;
    margin-right: 1em;
 }
 .btn:hover{
     border-color: rgb(152, 152, 152);
     background-color: rgb(216, 216, 216);
     color: rgb(33, 56, 159);
     cursor: pointer;
     margin-left: 2em;
 }

 .selectedBtn{
    border-color: rgb(152, 152, 152);
    background-color: rgb(216, 216, 216);
    color: rgb(33, 56, 159);
}

 #start-btn, #next-btn {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px, 20px;
 }

.controls{
display: flex;
justify-content: center;
align-items: center;
}

.hide{
    display: none;
}

#imgofdrone{
    width:50%;
}
#prod-btn{
    background-color: #4D65CB;
    border: 0px none;
    color: #FFF;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    text-align: left;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    width: auto;
    margin: 0;
}

#prod-btn :hover
{
transform: scale(0.7);
}


#descript-text{
    text-align: left;
    display: inline-block;
}
#prod-link{
    color: var(--white);
    text-decoration: none;
}

#cCon button{
    display: inline-block;
    width: auto;
}

#cCon button.hide{
    display: none;
}

.logoImg {
    width: 30%;
    padding-top: 3px;
    padding-left: 13px;
    float: left;
    margin-top: .7em;
}

.navBarIcons {
    float: right;
    padding-right: 26px;
    padding-top: 14px;

}

.searchIcon {
    width: 35px;
    margin-right: 25px;
}

.shopIcon {
    width: 35px;
}

#price{
    color: var(--blue);
}
#endTitle{
    color: var(--blue);
}

.FooterBox {
    background-color: black;
    width: 100%;
    padding: 0;
    margin-top: auto;


}


.FooterText {
    color: #F5F5F5;
    text-align: center;
    padding: 1em;
    font-size: 12px;
    font-weight: 300;
    padding: 1em;

}



.SocialMediaIcons {
    background-color: black;
    height: 20px;
    margin: 5px;
    padding-top: 14px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.Icon {
    width: 50px;
    padding-right: 20px;

}



.Credits {
    color: var(--light-gray);
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 2em;
}


.Creditlink {
    color: var(--light-gray);
    font-size: 12px;
}




.Item {
    justify-self: center;
}

/* /////// medium screen sizes /////// */
@media all and (min-width:750px) {
    .CreditBox {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .Icon {
        width: 45px;
        padding-left: 30px;

    }

    .logoImg {
        width: 15%;

    }
    #imgofdrone{
        width:30%;
    }


}



/*///// large screen styling /////////*/
@media all and (min-width:1080px) {

    .Icon {
        padding-right: 30px;

    }

    .logoImg {
        width: 12%;
        margin-top: 0;
    }
    #imgofdrone{
        width:30%;

    }
}
